.swagger-ui .topbar {
    padding: 10px 0;
    background-color: #5179b1;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border-color: #61affe;
}

.swagger-ui .info .title small:last-child {
    background-color: #61affe !important;
}

.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: hidden;
}

.topbar-wrapper .link:after {
    content: 'PCES Payment Platform';
    color: #fff;
    visibility: visible;
    display: block;
    position: absolute;
    padding: 15px;
}

