<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProxyClientSettings" type="PaymentHubProxy.Utility.ConfigurationSectionHandler, PaymentHubProxy.Utility" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <ProxyClientSettings type="PaymentHubProxy.Client.Configuration.Classes.ProxyClientSettings, PaymentHubProxy.Client">
    <BaseAddress>http://localhost:4314/</BaseAddress>
    <TokenEndpoint>token</TokenEndpoint>
    <AirtimeEndpoint>api/purchaseairtime</AirtimeEndpoint>
    <VodacomBankToWalletEndpoint>api/vodacombanktowallet</VodacomBankToWalletEndpoint>
    <CanalAccountOffersEndpoint>api/canalplus/getaccountoffers</CanalAccountOffersEndpoint>
    <CanalAccountOptionsEndpoint>api/canalplus/getofferoptions</CanalAccountOptionsEndpoint>
    <CanalDurationsEndpoint>api/canalplus/getoptionsdurations</CanalDurationsEndpoint>
    <CanalVerifyRenewalEndpoint>api/canalplus/verifyoptions</CanalVerifyRenewalEndpoint>
    <CanalRegisterRenewalEndpoint>api/canal/registerrenewal</CanalRegisterRenewalEndpoint>
    <DstvCustomerDetailsEndpoint>api/dstv/getcustomerdetails</DstvCustomerDetailsEndpoint>
    <DstvProductsEndpoint>api/dstv/getavailableproducts</DstvProductsEndpoint>
    <DstvPaymentEndpoint>api/dstv/makepayment</DstvPaymentEndpoint>
    <DstvDueDateEndpoint>api/dstv/getdueamountanddate</DstvDueDateEndpoint>
    <Username>FBBotKimia</Username>
    <Password>bL4KH4d0u!</Password>
  </ProxyClientSettings>
  <log4net debug="true">
    <!-- Define some output appenders -->
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="c:\logs\paymenthubproxy_service_log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="ALL" />
      <appender-ref ref="rollingFile" />
    </root>
    <logger name="PaymentHubProxyLog">
      <!-- <appender-ref ref="B" /> -->
      <level value="ALL" />
      <appender-ref ref="rollingFile" />
    </logger>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="paymentHubProxyBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="paymentHubProxyBehavior" name="PaymentHubProxy.Service.PaymentHubProxyManager">
        <endpoint address="http://localhost:9010/PaymentHubProxyService/"
            binding="basicHttpBinding" contract="PaymentHubProxy.Contracts.ServiceConracts.IPaymentHubProxyService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/PaymentHubProxyService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
