.container-fluid {
  padding: 0;
}

.image-container {
  background: url('../../images/carousel/ecommerce-1.png') center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.form-container {
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.form-box h4 {
  font-weight: 700;
  font-size: 1rem;
  font-style: italic;
  color: #506077;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.form-box .form-input {
  position: relative;
}

.form-box .form-input input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 0;
  outline: none;
  background: #fff;
  padding-left: 2.8125rem;
}

.form-box .form-input span {
  position: absolute;
  top: 0.5rem;
  padding-left: 1.25rem;
  color: #777777;
}

.form-box .form-input input::placeholder {
  padding: 0;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid {
  border-bottom: 0.125rem solid #f4744b;
}

.form-box .custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 0.5rem;
}

.form-box input[type='checkbox']:not(:checked) + label:before {
  background: transparent;
  border: 0.125rem solid #506077;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0;
}

.form-box
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #f4744b;
  border: 0;
  border-radius: 0;
}

.forget-link {
  color: #506077;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.register-link {
  color: #f4744b;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.forget-link:hover {
  color: #f4744b;
}

.register-link:hover {
  color: #506077;
}

.form-box button[type='submit'] {
  border: none;
  cursor: pointer;
  width: 9.375rem;
  height: 2.5rem;
  border-right: 0.3125rem;
  background-color: #506077;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
  border-radius: 0;
}

.form-box button[type='submit']:hover {
  background-color: #f4744b;
}

.form-box .language-container {
  padding-left: 0;
}

.dropdown-toggle {
  color: #506077;
  font-weight: 700;
}

.dropdown-toggle:hover {
  color: #f4744b;
  font-weight: 700;
}

.icon-small {
  font-size: 1rem;
}
