/** SIDE BAR **/

.bg-gradient-custom {
  background-color: #fff;
  background-image: linear-gradient(180deg, #fff 10%, #fff 100%);
  background-size: cover;
}

.btn-custom {
  background: rgba(66, 84, 102, 0.8) !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  text-align: center !important;
  transition: none !important;
}

.btn-custom .nav-link {
  color: #fff !important;
}

.btn-custom:hover {
  background: rgba(66, 84, 102, 1) !important;
  color: #fff;
}

.sidebar .nav-item .nav-link {
  color: rgba(66, 84, 102, 0.8);
  font-weight: 500;
}

.sidebar .sidebar-brand {
  color: rgba(66, 84, 102, 0.8);
}

.sidebar .nav-item.active .nav-link {
  font-weight: 700;
  color: rgba(248, 89, 36, 1);
  background-color: #f9f9f9;
}

.sidebar .nav-item .nav-link:hover {
  color: rgba(248, 89, 36, 0.8);
  background-color: #f9f9f9;
}

.sidebar .nav-item.active .nav-link i {
  color: rgba(248, 89, 36, 0.8);
}

.sidebar .nav-item .nav-link i {
  color: rgba(66, 84, 102, 0.8);
}

.sidebar .nav-item .nav-link:hover i {
  color: rgba(248, 89, 36, 0.8);
}

.header {
  color: rgba(248, 89, 36, 0.8);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 1px solid #ffdbce;
  color: #f55c29;
}

.sidebar #sidebarToggle::after {
  font-weight: 900;
  content: '\f104';
  font-family: 'Font Awesome 5 Free';
  margin-right: 0.1rem;
  color: #f55c29;
}

.sidebar #sidebarToggle:hover {
  text-decoration: none;
  background-color: #f55c29;
}
.sidebar #sidebarToggle:hover::after {
  color: #fff;
}

.sidebar #sidebarToggle:focus {
  outline: none;
}

/** HOME **/

.new-user {
  display: block;
  justify-content: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.new-user .top-display {
  text-align: center;
  padding-bottom: 0.6rem;
  color: #506077;
}

.new-user .bottom-display {
  text-align: center;
  padding-bottom: 1rem;
  color: #506077;
}

.new-user .payment-button {
  text-align: center;
  margin: 30px auto;
}

.new-user .btn-make-payment {
  background: #f55c29;
  border: 1px solid #f55c29;
  color: #f4f6f8;
  transition: all 0.3s ease-in-out;
  border-radius: 16.5px;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.new-user .btn-make-payment:hover {
  background: rgba(66, 84, 102, 1);
}

.top-pane {
  padding: 2rem;
  position: relative;
}

.top-pane h2 {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
}

.top-pane .search {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  width: 30%;
  font-size: 1rem;
}

.top-pane .search input {
  height: 1rem;
  background: #e0e0e0;
  color: #222;
}

.top-pane .search input[type='text']:focus {
  border-color: rgba(248, 89, 36, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(248, 89, 36, 0.6);
  outline: 0 none;
}

.top-pane .search button {
  background: #f85924;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.top-pane .search button:hover {
  background: #506077;
  color: #fff;
}

.middle-pane {
  padding: 2rem;
  position: relative;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.middle-pane h2 {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  font-size: 0.95rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #949dac;
}

.middle-pane .search {
  position: absolute;
  top: 16px;
  right: 370px;
}

.middle-pane .search .input-group > .form-control {
  height: 16px;
  font-size: 16px;
  border: 1px solid #425466;
  border-radius: 16.5px;
  padding: 17px 20px;
}

.middle-pane button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.95rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background: rgba(66, 84, 102, 0.8);
  border-radius: 0;
  border: none;
  transition: all 0.5s ease-in-out;
}

.middle-pane button:hover,
.middle-pane button:focus,
.middle-pane button:active {
  background: rgba(66, 84, 102, 1);
  color: #fff;
  outline: none;
}

.middle-pane .btn-filter {
  position: absolute;
  right: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.middle-pane .drop-down {
  display: inline-block;
}

.middle-pane .dropdown-content {
  position: absolute;
  right: 10rem;
  background-color: #fff;
  width: 11rem;
  z-index: 1;
  max-height: 25rem;
  border: 0.0625rem solid #ffdbce;
  box-shadow: 0 0.5rem 1rem rgba(255, 203, 170, 0.25);
  overflow-y: auto;
  margin-top: 0.5rem;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.middle-pane .dropdown-content::-webkit-scrollbar {
  width: 0.2rem;
}

.middle-pane .dropdown-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: #fff;
}

.middle-pane .dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
}

.middle-pane .dropdown-content a {
  color: rgba(66, 84, 102, 1);
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-size: 0.95rem;
}

.middle-pane .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.middle-pane .dropdown-content .active {
  background-color: #f1f1f1;
}

.middle-pane .dropdown-content .search-category {
  width: 100%;
  padding: 0.5rem 0.8rem;
  font-weight: 300;
  font-size: 0.9rem;
  border: 0.0625px solid #e0e0e0;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
}

.middle-pane .dropdown-content .search-category:focus {
  border-color: rgba(248, 89, 36, 0.8) !important;
  box-shadow: 0 1px 1px rgba(177, 140, 140, 0.075) inset,
    0 0 8px rgba(248, 89, 36, 0.6);
  outline: 0 none;
}

@keyframes slideDown {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(1%);
  }
  65% {
    transform: translateY(-1%);
  }
  80% {
    transform: translateY(1%);
  }
  95% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(1%);
  }
  65% {
    -webkit-transform: translateY(-2%);
  }
  80% {
    -webkit-transform: translateY(1%);
  }
  95% {
    -webkit-transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.history-bg-dark {
  background-color: #425466;
  color: #fff;
}

.history-table .heading {
  border-right: 2px solid #fff;
  text-transform: uppercase;
}
.history-table .data {
  text-align: center;
  color: #425466;
  font-weight: 500;
}

.history-table .data a {
  color: #f3835b;
}

.transaction-content {
  padding: 0.5rem;
  position: relative;
  padding-top: 0;
  /* border: 0.0625rem dashed #e0e0e0; */
}

.transaction-content .card {
  box-shadow: none;
  border: none;
  padding: 0 !important;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.transaction-content .accordion > .card:nth-of-type(odd) {
  background-color: #eeeeee !important;
}

.transaction-content .card .card-header {
  box-shadow: none;
  border: none;
  padding-left: 0;
  padding: 3rem;
  outline: 0 none;
  background: transparent;
  border-bottom: 0.0625rem solid #e0e0e0;
  margin-left: 0;
  position: relative;
  margin-bottom: 0;
}

.transaction-content .card .card-header .btn-header-link:after {
  /* content: '\f106'; */
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  position: absolute;
  right: 1rem;
  top: 2rem;
  color: #506077;
  cursor: pointer;
}

.transaction-content .card .card-header .btn-header-link.collapsed:after {
  /* content: '\f107'; */
  color: #506077;
  cursor: pointer;
}

.transaction-content .card .card-header .btn-header-link {
  outline: 0 none;
  text-decoration: none;
}

.transaction-content .card .card-header img {
  position: absolute;
  left: 0.2rem;
  top: 1rem;
  border-radius: 50%;
}

.transaction-content .card .card-header .card-header-content {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  padding-top: 0.5rem;
  padding-left: 4.3rem;
}

.transaction-content .card .card-header .card-header-content h2 {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #506077;
  margin-bottom: 0.75rem;
}

.transaction-content .card .card-header .card-header-content h4 {
  font-size: 0.7rem;
  font-weight: 300;
  color: #949dac;
  margin-bottom: 0.3rem;
}

.transaction-content .card .card-header .card-header-content .bottom-desc {
  position: relative;
}

.bottom-time {
  display: block;
}

.bottom-time h6 {
  display: inline-block;
  padding-right: 1rem;
  text-align: center;
}

.bottom-time h6:nth-child(1) {
  font-size: 0.7rem;
  font-weight: 700;
  color: #949dac;
}

.bottom-time h6:nth-child(2) {
  font-size: 0.7rem;
  font-weight: 700;
  color: #949dac;
}

.bottom-time h6:nth-child(2) button {
  font-size: 0.7rem;
  font-weight: 700;
  color: #949dac;
  border: none;
  text-align: center;
  padding: 0.5rem;
  cursor: default;
  outline: 0 none;
  text-transform: capitalize;
}

.bottom-time h6:nth-child(3) {
  font-size: 0.7rem;
  font-weight: 700;
  color: #949dac;
}

.bottom-time h6:nth-child(3) button {
  font-size: 0.7rem;
  font-weight: 700;
  color: #949dac;
  border: none;
  text-align: center;
  padding: 0.5rem;
  cursor: default;
  outline: 0 none;
  text-transform: capitalize;
}

.card-header .amount {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  padding-top: 2.3rem;
  padding-right: 3.5rem;
}

.card-header .amount h2 {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #506077;
  margin-bottom: 0.75rem;
}

.transaction-content .card .card-body {
  position: relative;
  background: #f4f6f8;
}

.transaction-content .card .card-body .transaction-details {
  /* position: absolute;
  left: 0;
  top: 0; */
  padding-left: 0;
}

.transaction-content .card .card-body .transaction-details h2 {
  font-size: 0.85rem;
  padding-top: 0.2rem;
  text-transform: uppercase;
  color: #506077;
  font-weight: 700;
  padding-left: 3rem;
}

.transaction-content .card .card-body .transaction-details .receipt {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.transaction-details .receipt table tbody tr {
  border-bottom: 0.0625rem dashed rgba(66, 84, 102, 0.3);
}

.transaction-details .receipt table tbody tr td:nth-child(1) {
  text-align: left;
  color: rgba(66, 84, 102, 0.7);
  font-weight: 400;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.transaction-details .receipt table tbody tr td:nth-child(2) {
  text-align: right;
  color: #506077;
  font-weight: 700;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.transaction-details .receipt table td {
  color: #506077;
  font-weight: 700;
  font-size: 0.85rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transaction-details .receipt-buttons {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.receipt-buttons button:nth-child(1) {
  text-align: left;
  border: none;
  border-radius: 0;
  background: rgba(66, 84, 102, 0.8);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.receipt-buttons button:nth-child(1):hover {
  background: rgba(66, 84, 102, 1);
}

.receipt-buttons button:nth-child(2) {
  /* text-align: right; */
  border: none;
  float: right;
  border-radius: 0;
  background: rgba(248, 89, 36, 0.8);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.receipt-buttons button:nth-child(2):hover {
  background: rgba(248, 89, 36, 1);
}

/** ACCOUNT PAGE **/
.user-profile-photo {
  position: relative;
  padding: 1rem;
}

.user-profile-photo img {
  width: 3.5rem;
}

.user-profile-photo button {
  margin-left: 1rem;
  color: #506077;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.user-profile-photo button:hover {
  color: #f85924;
}

.personal-info {
  position: relative;
  padding: 1rem;
  border-bottom: 0.0625rem dashed #e0e0e0;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.personal-info h4 {
  position: absolute;
  font-size: 0.9rem;
  top: 2.3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.personal-info button {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  border: none;
  background: rgba(66, 84, 102, 0.8);
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
  color: #fff;
}

.personal-info button:hover {
  background: rgba(66, 84, 102, 1);
  color: #fff;
}

.personal-details {
  position: relative;
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.personal-details .personal-details-left {
  position: absolute;
  padding-top: 1rem;
  top: 0;
  left: 1rem;
}

.personal-details .personal-details-left h2 {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  font-weight: 300;
  color: rgba(66, 84, 102, 0.5);
}

.personal-details .personal-details-left h4 {
  font-size: 0.85rem;
  color: rgba(66, 84, 102, 1);
}

.personal-details .personal-details-right {
  position: absolute;
  padding-top: 1rem;
  left: 65%;
  top: 0;
}

.personal-details .personal-details-right h2 {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 300;
  color: rgba(66, 84, 102, 0.5);
}

.personal-details .personal-details-right h4 {
  font-size: 0.85rem;
  color: rgba(66, 84, 102, 1);
}
.personal-details .personal-details-right button {
  border: none;
  background: rgba(66, 84, 102, 0.6);
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
  color: #fff;
}

.personal-details .personal-details-right button:hover {
  background: rgba(66, 84, 102, 1);
}

/********** EDIT FORM ***************/

.personal-details-form {
  position: relative;
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.personal-details-form .left {
  position: absolute;
  padding-top: 1rem;
  top: 0;
  left: 1rem;
}

.personal-details-form .left h2 {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  font-weight: 300;
  color: rgba(66, 84, 102, 0.5);
}

.personal-details-form .left h4 {
  font-size: 0.85rem;
  color: rgba(66, 84, 102, 1);
}

.personal-details-form .right {
  position: absolute;
  padding-top: 1rem;
  left: 65%;
  top: 0;
}

.personal-details-form .right h2 {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 300;
  color: rgba(66, 84, 102, 0.5);
}

.personal-details-form .right h4 {
  font-size: 0.85rem;
  color: rgba(66, 84, 102, 1);
}

.personal-details-form .text-input {
  height: 2rem;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  color: #506077;
  font-weight: 300;
  font-size: 0.9rem;
  border: 0.0625px solid #e0e0e0;
  transition: all 0.3s ease-in-out;
  width: 15rem;
}

.personal-details-form .text-select {
  height: 2rem;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  color: #506077;
  font-weight: 300;
  font-size: 0.9rem;
  border: 0.0625px solid #e0e0e0;
  transition: all 0.3s ease-in-out;
  width: 15rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.personal-details-form .text-input:focus,
.personal-details-form .text-select:focus,
.personal-details-form .drop-style:focus {
  border-color: rgba(248, 89, 36, 0.8) !important;
  box-shadow: 0 1px 1px rgba(177, 140, 140, 0.075) inset,
    0 0 8px rgba(248, 89, 36, 0.6);
  outline: 0 none;
}

/********** END EDIT FORM ***************/

/** RECIPIENTS **/

.toolbar {
  position: relative;
}

.toolbar button {
  margin-right: 1rem;
}

.toolbar button:nth-child(1) {
  border: 0.0625rem solid rgba(66, 84, 102, 0.8);
  border-radius: 0;
  background: rgba(66, 84, 102, 0.8);
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.toolbar button:nth-child(1):hover {
  background: rgba(66, 84, 102, 1);
}

.toolbar button:nth-child(2) {
  border: 0.0625rem solid rgba(248, 89, 36, 0.8);
  border-radius: 0;
  background: rgba(248, 89, 36, 0.8);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.toolbar button:nth-child(2):hover {
  background: rgba(248, 89, 36, 1);
}

.toolbar button:nth-child(3) {
  float: right;
  border: 0.0625rem solid rgba(66, 84, 102, 0.8);
  border-radius: 0;
  background: rgba(66, 84, 102, 0.8);
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.toolbar button:nth-child(3):hover {
  background: rgba(66, 84, 102, 1);
}

.contact-header {
  position: relative;
  padding-top: 2rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.contact-header h2 {
  font-size: 16px;
  font-weight: 300;
  color: rgba(248, 89, 36, 1);
}

.contacts-container {
  position: relative;
  padding: 0;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.contacts-container::-webkit-scrollbar {
  width: 0.2rem;
}

.contacts-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: #fff;
}

.contacts-container::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
}

.contact {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.0625rem dashed #e0e0e0;
}

.contact img {
  width: 2.5rem;
}

.contact .contact-detail {
  position: absolute;
  left: 3.3rem;
  top: 0;
  padding-top: 1.7rem;
}

.contact-detail h4 {
  font-size: 16px;
  font-weight: 400;
  color: #506077;
}

.contact-detail h6 {
  font-size: 14px;
  color: rgba(66, 84, 102, 0.5);
  font-weight: 400;
}

.contact .edit-beneficiary {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding-top: 1.2rem;
}

.contact .edit-beneficiary i:first-child {
  color: rgba(248, 89, 36, 0.7);
  cursor: pointer;
  padding-right: 0.8rem;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.contact .edit-beneficiary i:first-child:hover {
  color: rgba(248, 89, 36, 1);
}

.contact .edit-beneficiary i:last-child {
  color: rgba(216, 0, 12, 0.7);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.contact .edit-beneficiary i:last-child:hover {
  color: rgba(216, 0, 12, 1);
}

.action-btn-custom {
  background: #f55c29;
  border: 1px solid #f55c29;
  color: #f4f6f8;
  transition: all 0.3s ease-in-out;
  border-radius: 16.5px;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 24px 20px 30px;
  text-decoration: none;
}
.action-btn-custom:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(66, 84, 102);
  border-color: rgb(66, 84, 102);
}

.sidebar-toggled .action-btn-custom span,
.action-btn-custom span.anticon {
  display: none;
}

.sidebar-toggled .action-btn-custom span.anticon {
  display: block;
  margin: 0 auto !important;
}

.edit-beneficiary .btn .anticon {
  vertical-align: 0;
}

/*-- Modal --*/

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  border: 0px solid #ffdbce;
  box-shadow: 0 0.5rem 1rem rgba(255, 203, 170, 0.25) !important;
  border-radius: 10px;
  text-transform: none;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ffdbce;
  box-shadow: 0 0.5rem 1rem rgba(255, 203, 170, 0.25);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: transparent;
  color: rgb(66, 84, 102);
  font-weight: 300;
  text-transform: none;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(66, 84, 102);
  text-shadow: 0 0.0625rem 0 #fff;
  opacity: 0.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 0.0625rem solid #dee2e6;
  border-bottom-right-radius: 1.03125rem;
  border-bottom-left-radius: 1.03125rem;
  background: #f4f6f8;
}

.modal-footer button {
  font-size: 18px;
  height: 2.66rem;
  padding: 0.46rem 1.33rem 0.46rem 1.2rem;
  border-color: #6c757d;
  font-weight: 700;
  border-radius: 16.5px;
  background-color: #888888;
  outline: none !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}

.recipient-form .form-input-text {
  height: 3rem;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  color: #506077;
  font-weight: 300;
  font-size: 0.9rem;
  border: 0.0625px solid #e0e0e0;
  transition: all 0.3s ease-in-out;
  width: 20rem;
  margin-bottom: 0.5rem;
}

.recipient-form .form-input-select {
  height: 2rem;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  color: #506077;
  font-weight: 300;
  font-size: 0.9rem;
  border: 0.0625px solid #e0e0e0;
  transition: all 0.3s ease-in-out;
  width: 20rem;
  margin-bottom: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.recipient-form button {
  background: #f55c29;
  border: 1px solid #f55c29;
  color: #f4f6f8;
  transition: all 0.3s ease-in-out;
  border-radius: 16.5px;
  padding: 0.6rem 1rem;
  text-transform: none;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 24px 20px 30px;
  text-decoration: none;
}

.recipient-form button:hover {
  color: #f4f6f8;
}

.recipient-form button:focus,
.recipient-form button:active {
  outline: none;
}

.recipient-form .form-input-text:focus,
.recipient-form .form-input-select:focus,
.recipient-form .form-input-drop:focus {
  border-color: rgba(248, 89, 36, 0.8) !important;
  box-shadow: 0 1px 1px rgba(177, 140, 140, 0.075) inset,
    0 0 8px rgba(248, 89, 36, 0.6);
  outline: 0 none;
}

.recipient-form .react-tel-input {
  margin-bottom: 0.5rem;
}

.empty-box {
  margin-top: 10rem;
}

.empty-box h2 {
  font-weight: 200;
  color: hsl(0, 0%, 88%);
  font-size: 3rem;
}

.empty-box-transaction {
  margin-top: 5rem;
}

.empty-box-transaction h2 {
  font-weight: 300;
  color: #e0e0e0;
  font-size: 2rem;
}

#content .dashboard-content button.btn {
  background: transparent;
  border: 0.0625rem solid rgb(66, 84, 102);
  color: rgb(66, 84, 102);
  transition: all 0.3s ease-in-out;
  border-radius: 16.5px;
  padding: 0.3rem 1rem;
  text-transform: none;
  font-size: 0.938rem;
  font-weight: normal;
}
#content .dashboard-content .input-group-append button.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #ffdbce;
}

#content .dashboard-content > div > div > .card,
.card .card-body.wizard-card {
  border: 1px solid #ffdbce;
  box-shadow: 0 0.5rem 1rem rgba(255, 203, 170, 0.25) !important;
  border-radius: 16.5px;
}

.navbar-nav li.lang-item {
  opacity: 0.3;
}

.navbar-nav li.lang-item.active {
  opacity: 1;
}

.toolbar .search {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  font-size: 1rem;
}

.toolbar .search input {
  height: 16px;
  background: #e0e0e0;
  color: #222;
  font-size: 14px;
  padding: 16px 20px;
  border-radius: 16.5px;
  border-color: #425466;
}

.toolbar .search input[type='text']:focus {
  border-color: rgba(248, 89, 36, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(248, 89, 36, 0.6);
  outline: 0 none;
}

.toolbar .search button {
  background: #f85924;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.toolbar .search button:hover {
  background: #506077;
  color: #fff;
}

#content .dashboard-content .toolbar .btn.add-beneficiary {
  border: 2px solid #f3835b;
  color: #f3835b;
}

.pagination-container {
  margin-top: 2rem;
  position: relative;
}

.pagination-container .pagination-content .pagination .page-item .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #f85924;
  background-color: #fff;
  border: 0.0625px solid #ffdbce;
  outline: none;
}

.pagination-container
  .pagination-content
  .pagination
  .page-item:first-child
  .page-link {
  border-top-left-radius: 1.03125rem;
  border-bottom-left-radius: 1.03125rem;
  outline: none;
}

.pagination-container
  .pagination-content
  .pagination
  .page-item:last-child
  .page-link {
  border-top-right-radius: 1.03125rem;
  border-bottom-right-radius: 1.03125rem;
  outline: none;
}

.pagination-container .pagination-content .pagination .page-item .active {
  background-color: rgba(248, 89, 36, 1);
  color: #fff;
  border: 0.0625px solid rgba(248, 89, 36, 1);
  outline: none;
}

.delete-beneficary {
  text-align: center;
  margin-top: 0.5rem;
}

.delete-beneficary h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #506077;
  padding-bottom: 1rem;
}

.delete-beneficary button {
  font-size: 1.3rem;
  font-weight: 300;
  color: #506077;
  margin-right: 0.8rem;
  font-size: 0.95rem;
}

.delete-beneficary img {
  width: 6rem;
}

.delete-beneficary .delete-btn {
  border: 0.0625rem solid rgba(229, 57, 53, 0.8);
  background: rgba(229, 57, 53, 0.8);
  color: #fff;
  border-radius: 16.5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  transition: all 0.5s ease-in-out;
}

.delete-beneficary .delete-btn:hover {
  border: 0.0625rem solid rgba(229, 57, 53, 1);
  background: rgba(229, 57, 53, 1);
  color: #fff;
}

.delete-beneficary .cancel-btn {
  border: 0.0625rem solid rgba(66, 84, 102, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: #506077;
  border-radius: 16.5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  transition: all 0.5s ease-in-out;
}

.delete-beneficary .cancel-btn:hover {
  border: 0.0625rem solid rgba(66, 84, 102, 1);
  background: rgba(66, 84, 102, 1);
  color: #fff;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Medium devices (desktop 960px and up) */
@media only screen and (min-width: 960px) {
}
